/* Regole generali */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

nav::after{
  content:"" ;
  display: table;
  clear: both;
}

.clearfix::after {
  content:"" ;
  display: table;
  clear: both;
}
.wrapper{
  content:"" ;
  display: table;
  clear: both;
}

main{
  background-color: whitesmoke;
}
.sezioneblu{
  /*height: 600px;*/

  background-image: linear-gradient(45deg,#00A4BD,#00BDA5);
}

.sezioneblu::after{
  content:"" ;
  display: table;
  clear: both;
}

}
}
/* fine regole */
nav{

  height: 85px;
  background-color: whitesmoke;
  border :1px solid black;

}
.links{
  float: left;
  margin-top: 20px;

}
.links a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding-left: 50px;
  font-size: 20px;


}
.linkd{
  float: right;
  margin-top: 20px;
  margin-right: 30px;

}

.linkd button{
  color: orange;
  padding: 20px;
  margin-left: 40px;

}

/* parte  header */

header::after{
  content:"" ;
  display: table;
  clear: both;

}

.logos{
  float: left;
}
.logod{
  float: right;
  margin-top: 20px;
}

.logos img{
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.logod a{
  margin-right: 30px;
  padding-right: 70px;
  text-decoration: none;
  color: black;
  font-size: 22px;
}
/* parte centrale */
#sfondo-grande{
  background-image: url(img/jumbotron.png);
  height: 800px;
  background-repeat: no-repeat;
}

.rosa{
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 50px;

}

.rosa h1{
  font-size: 40px;
  margin: 20px;
}
.rosa p{
  font-size: 20px;
  margin-left: 20px;
}
.rosa button{
  color: white;
  background-color: orange;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 20px;
}
.rosa h3{
  margin-left: 30px;
  margin-top: 20px;
}
/* parte giocattolo */
main{
  /*height: 1550px;*/
}

.cubo img{
  width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}
.cubo h1,h2{
  text-align: center;
}
/* freeee hub */
.freehub{

  width: 1084px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 120px;
  background-color: white;
}
.freehub::after{
  content:"" ;
  display: table;
  clear: both;
}
.immbott{
  float: left;
}

.freehub img{
  width: 200px;
  margin-left: 40px;
  margin-top: 10px;
  display: block;

}
.bottone{

padding: 30px;
  color: white;
  width: 30;
}
.immbott button{
  margin-left: 60px;
  padding: 15px;
  background-color: orange;
  color: white;
  margin-top: 70px;
}
.crm{
  float: right;
  width: 55%;
  margin-bottom: 100px;
  margin-top: 20px;
}
/* parte 3 colonne */
#colonne{
display: inline-block;

}

.colonna1{
  width: 330px;
  height: 650px;
  border: 1px solid black;
  margin-top: 150px;
  display: inline-block;
  background-color: white;


}
.colonna2{
  width: 330px;
  height: 650px;
  border: 1px solid black;
  margin-top: 150px;
  display: inline-block;
  margin-left: 34px;
  background-color: white;
}
.colonna3{
  width: 330px;
  height: 650px;
  border: 1px solid black;
  margin-top: 150px;
  display: inline-block;
  margin-left: 34px;
  background-color: white;
}
/* caratteristiche colonne */
.colonna1 h1{
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}
.colonna1 p{
  position: absolute;
  margin-top: 140px;
  margin-left: 50px;
}
.colonna1 h2{
  position: absolute;
  margin-top: 230px;
  margin-left: 80px;
}
.colonna1 ul{
  position: absolute;
  margin-top: 270px;
  margin-left: 50px;
}
.colonna1 button{
  position: absolute;
  margin-top: 350px;
  color: white;
  background-color: orange;
  padding: 15px;
  margin-left: 90px;
}

.colonna1 img{
  position: relative;
  display: block;
  width: 200px;
  margin-top: 30px;
}
/* caratteristiche colonna 2 */

.colonna2 img{
  position: relative;
  display: block;
  width: 200px;
  margin-top: 30px;
}
.colonna2 h1{
  position: absolute;
  margin-top: 100px;
  margin-left: 90px;
}

.colonna2 p{
  position: absolute;
  margin-top: 140px;
  margin-left: 50px;
}
.colonna2 h2{
  position: absolute;
  margin-top: 230px;
  margin-left: 50px;
  margin-left: 80px;
}
.colonna2 ul{
  position: absolute;
  margin-top: 270px;
  margin-left: 50px;
}
.colonna2 button{
  position: absolute;
  margin-top: 350px;
  color: white;
  background-color: orange;
  padding: 15px;
  margin-left: 90px;

}

/* caratteristiche colonna 3 */

.colonna3 img{
  position: relative;
  display: block;
  width: 200px;
  margin-top: 30px;

}

.colonna3 h1{
  position: absolute;
  margin-top: 65px;
  margin-left: 80px;
}
.colonna3 p{
  position: absolute;
  margin-top: 103px;
  margin-left: 50px;
}
.colonna3 h2{
  position: absolute;
  margin-top: 190px;
  margin-left: 50px;
  margin-left: 80px;
}
.colonna3 ul{
  position: absolute;
  margin-top: 230px;
  margin-left: 50px;
}
.colonna3 button{
  position: absolute;
  margin-top: 300px;
  color: white;
  background-color: orange;
  padding: 15px;
  margin-left: 90px;

}


/* fine colonne */
/* inizio parte blu */

.titolosezione h1,p{
  color: white;
text-align: center;

}
.wrapper{
  
}
.board1{
  float: left;
  color: white;
  margin-top: 40px;
  margin-left: 50%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  }

  .board2{
    float: none;
    color: white;
    margin-top: 40px;
    margin-left: 170%;
  }
